<div class="summary-wrapper container-fluid">
	<div class="row">
		<div class="col-12">
			<table class="table table-bordered table-striped table-sm table-hover text-center">
				<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">{{'ADMIN.NAME' | translate}}</th>
					<th scope="col">{{'ADMIN.CATEGORY' | translate}}</th>
					<th scope="col">{{'ADMIN.TYPE' | translate}}</th>
					<th scope="col">{{'ADMIN.PRICE' | translate}}</th>
					<th scope="col">{{'ADMIN.QUANTITY_CART' | translate}}</th>
					<th scope="col">{{'ADMIN.TOTAL_PRICE' | translate}}</th>
					<th scope="col">{{'ADMIN.ORDER_DATE' | translate}}</th>
					<th scope="col">{{'ADMIN.USER_ID' | translate}}</th>
				</tr>
				</thead>
				<tbody>
				<tr *ngFor="let product of billsRender; let i = index">
					<th scope="row">{{i + 1}}</th>
					<td>{{product.name}}</td>
					<td>{{'DATA.' + product.categoryName | translate}}</td>
					<td>{{'DATA.' + product.typeName | translate}}</td>
					<td>{{product.price.toLocaleString(translate.currentLang)}}</td>
					<td>{{countOfIndividualProduct[i]}}</td>
					<td>{{totalPriceOfIndividualProduct[i].toLocaleString(translate.currentLang)}}</td>
					<td>{{settlementDate[i]}}</td>
					<td>{{userIds[i]}}</td>
				</tr>
				<tr *ngIf="billsRender.length !== 0">
					<td colspan="6"><b>{{'ADMIN.TOTAL_PRICE' | translate}}</b></td>
					<td><b>{{totalPriceOfAddedProduct.toLocaleString(translate.currentLang)}}</b></td>
					<td></td>
				</tr>
				<tr *ngIf="billsRender.length === 0">
					<td colspan="8"><i>{{'ADMIN.NO_PRODUCT_FOUND' | translate}}</i></td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
