.wrapper-main {
	.wrapper-navbar {
		nav {
			padding: 0 1rem;

			a {
				.rainbow-text {
					background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
					-webkit-background-clip: text;
				}
			}

			.btn-lang {
				margin-right: 15px;
			}
		}
	}

	.wrapper-router {
		padding: 10px;
	}

	.fixed-bottom-2 {
		position: fixed;
		bottom: 0;
		left: 40px;
	}

	.fixed-bottom-3 {
		position: fixed;
		bottom: 0;
		left: 80px;
	}

	.fixed-bottom-4 {
		position: fixed;
		bottom: 0;
		left: 120px;
	}
}
