<div class="wrapper-main">
	<div class="wrapper-navbar">
		<nav class="navbar navbar-expand navbar-light bg-light">
			<a class="navbar-brand ms-2" routerLink="">
				<img alt="{{'MAIN.FLOWER_SHOP' | translate}}" height="30" src="../assets/images/brand.png"/>
			</a>
			<div class="collapse navbar-collapse row" id="navbarSupportedContent">
				<div class="col-sm-6">
					<ul class="navbar-nav me-auto">
						@if (!isAdmin()) {
							<li class="nav-item" placement="bottom" tooltip="{{'MAIN.SHOP' | translate}}">
								<a class="nav-link" routerLink="/shop" routerLinkActive="active">
									<fa-icon [icon]="faStore"></fa-icon>
								</a>
							</li>
						}
						@if (!isAdmin()) {
							<li class="nav-item" placement="bottom" tooltip="{{'MAIN.INFO' | translate}}">
								<a [tabindex]="isLoggedIn() ? null : -1"
								   class="nav-link {{isLoggedIn() ? '' : 'disabled'}}"
								   routerLink="/info"
								   routerLinkActive="active">
									<fa-icon [icon]="faUser"></fa-icon>
								</a>
							</li>
						}
						@if (isAdmin()) {
							<li class="nav-item" placement="bottom" tooltip="{{'MAIN.ADMIN' | translate}}">
								<a class="nav-link" routerLink="/admin" routerLinkActive="active">
									<fa-icon [icon]="faWarehouse"></fa-icon>
								</a>
							</li>
						}
						<li class="nav-item" placement="bottom" tooltip="{{'MAIN.CONTACT' | translate}}">
							<a class="nav-link" routerLink="/contact" routerLinkActive="active">
								<fa-icon [icon]="faHandshake"></fa-icon>
							</a>
						</li>
					</ul>
				</div>
				<div class="col-sm-6">
					<div class="responsive-float">
						<select #langSelect (change)="translate.use(langSelect.value)" class="btn btn-outline-dark btn-lang"
						        placement="bottom" tooltip="{{'MAIN.LANGUAGE' | translate}}">
							@for (lang of translate.getLangs(); track lang) {
								<option [selected]="lang === translate.currentLang()"
								        [value]="lang">{{lang}}</option>
							}
						</select>
						@if (!isAdmin()) {
							<button (click)="onCartClick()" class="btn btn-dark btn-lang" data-test="nav-cart"
							        placement="bottom" tooltip="{{'MAIN.CART' | translate}}" type="button">
								<fa-icon [icon]="faShoppingCart"></fa-icon>
								@if (cartCount() > 0) {
									<span> ({{cartCount()}})</span>
								}
							</button>
						}
						@if (!isLoggedIn()) {
							<button (click)="session.requestLogin()" class="btn btn-dark"
							        placement="bottom" tooltip="{{'MAIN.LOGIN' | translate}}" type="button">
								<fa-icon [icon]="faRightToBracket"></fa-icon>
							</button>
						}
						@if (isLoggedIn()) {
							<button (click)="onLogout()" class="btn btn-dark" placement="bottom"
							        tooltip="{{'MAIN.LOGOUT' | translate}}" type="button">
								<fa-icon [icon]="faRightFromBracket"></fa-icon>
							</button>
						}
					</div>
				</div>
			</div>
		</nav>
	</div>
	<div class="wrapper-router">
		<router-outlet></router-outlet>
		<ngx-spinner
			[fullScreen]="false"
			bdColor="rgba(51,51,51,0.8)"
			color="#007bff"
			size="large"
			type="ball-clip-rotate-pulse"
		>
		</ngx-spinner>
		<footer class="app-footer" data-test="app-footer">
			<span class="footer-credit">{{'MAIN.CREDIT' | translate}}</span>
			<a [attr.aria-label]="'MAIN.SOURCE' | translate" class="footer-source" href="https://github.com/lavantien/FlowerShop" rel="noopener" target="_blank">
				<svg aria-hidden="true" class="footer-github" fill="currentColor" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
					<path d="M6.766 11.328c-2.063-.25-3.516-1.734-3.516-3.656 0-.781.281-1.625.75-2.188-.203-.515-.172-1.609.063-2.062.625-.078 1.468.25 1.968.703.594-.187 1.219-.281 1.985-.281.765 0 1.39.094 1.953.265.484-.437 1.344-.765 1.969-.687.218.422.25 1.515.046 2.047.5.593.766 1.39.766 2.203 0 1.922-1.453 3.375-3.547 3.64.531.344.89 1.094.89 1.954v1.625c0 .468.391.734.86.547C13.781 14.359 16 11.53 16 8.03 16 3.61 12.406 0 7.984 0 3.563 0 0 3.61 0 8.031a7.88 7.88 0 0 0 5.172 7.422c.422.156.828-.125.828-.547v-1.25c-.219.094-.5.156-.75.156-1.031 0-1.64-.562-2.078-1.609-.172-.422-.36-.672-.719-.719-.187-.015-.25-.093-.25-.187 0-.188.313-.328.625-.328.453 0 .844.281 1.25.86.313.452.64.655 1.031.655s.641-.14 1-.5c.266-.265.47-.5.657-.656"/>
				</svg>
			</a>
		</footer>
	</div>
</div>
<app-toasts></app-toasts>
<app-auth-modal></app-auth-modal>
