<div class="wrapper-main">
	<div class="wrapper-navbar">
		<nav class="navbar navbar-expand navbar-light bg-light">
			<a class="navbar-brand ms-2" routerLink="">
				<img alt="{{'MAIN.FLOWER_SHOP' | translate}}" height="30" src="../assets/images/brand.png"/>
			</a>
			<div class="collapse navbar-collapse row" id="navbarSupportedContent">
				<div class="col-sm-6">
					<ul class="navbar-nav me-auto">
						@if (!isAdmin()) {
							<li class="nav-item" placement="bottom" tooltip="{{'MAIN.SHOP' | translate}}">
								<a class="nav-link" routerLink="/shop" routerLinkActive="active">
									<fa-icon [icon]="faStore"></fa-icon>
								</a>
							</li>
						}
						@if (!isAdmin()) {
							<li class="nav-item" placement="bottom" tooltip="{{'MAIN.INFO' | translate}}">
								<a [tabindex]="isLoggedIn() ? null : -1"
								   class="nav-link {{isLoggedIn() ? '' : 'disabled'}}"
								   routerLink="/info"
								   routerLinkActive="active">
									<fa-icon [icon]="faUser"></fa-icon>
								</a>
							</li>
						}
						@if (isAdmin()) {
							<li class="nav-item" placement="bottom" tooltip="{{'MAIN.ADMIN' | translate}}">
								<a class="nav-link" routerLink="/admin" routerLinkActive="active">
									<fa-icon [icon]="faWarehouse"></fa-icon>
								</a>
							</li>
						}
						@if (isAdmin()) {
							<li class="nav-item" placement="bottom" tooltip="{{'MAIN.SUMMARY' | translate}}">
								<a class="nav-link" routerLink="/summary" routerLinkActive="active">
									<fa-icon [icon]="faChartLine"></fa-icon>
								</a>
							</li>
						}
						<li class="nav-item" placement="bottom" tooltip="{{'MAIN.CONTACT' | translate}}">
							<a class="nav-link" routerLink="/contact" routerLinkActive="active">
								<fa-icon [icon]="faHandshake"></fa-icon>
							</a>
						</li>
					</ul>
				</div>
				<div class="col-sm-6">
					<div class="responsive-float">
						<select #langSelect (change)="translate.use(langSelect.value)" class="btn btn-outline-dark btn-lang"
						        placement="bottom" tooltip="{{'MAIN.LANGUAGE' | translate}}">
							@for (lang of translate.getLangs(); track lang) {
								<option [selected]="lang === translate.currentLang()"
								        [value]="lang">{{lang}}</option>
							}
						</select>
						@if (!isAdmin()) {
							<button (click)="onCartClick()" class="btn btn-dark btn-lang" data-test="nav-cart"
							        placement="bottom" tooltip="{{'MAIN.CART' | translate}}" type="button">
								<fa-icon [icon]="faShoppingCart"></fa-icon>
								@if (cartCount() > 0) {
									<span> ({{cartCount()}})</span>
								}
							</button>
						}
						@if (!isLoggedIn()) {
							<button (click)="session.requestLogin()" class="btn btn-dark"
							        placement="bottom" tooltip="{{'MAIN.LOGIN' | translate}}" type="button">
								<fa-icon [icon]="faRightToBracket"></fa-icon>
							</button>
						}
						@if (isLoggedIn()) {
							<button (click)="onLogout()" class="btn btn-dark" placement="bottom"
							        tooltip="{{'MAIN.LOGOUT' | translate}}" type="button">
								<fa-icon [icon]="faRightFromBracket"></fa-icon>
							</button>
						}
					</div>
				</div>
			</div>
		</nav>
	</div>
	<div class="wrapper-router">
		<router-outlet></router-outlet>
		<ngx-spinner
			[fullScreen]="false"
			bdColor="rgba(51,51,51,0.8)"
			color="#007bff"
			size="large"
			type="ball-clip-rotate-pulse"
		>
		</ngx-spinner>
		<div class="text-center">
			<span><b>{{'MAIN.CREDIT' | translate}}</b></span>
		</div>
	</div>
</div>
<app-toasts></app-toasts>
<app-auth-modal></app-auth-modal>
