<div class="admin-wrapper container-fluid">
	<ul class="nav nav-tabs mb-3">
		<li class="nav-item">
			<a class="nav-link" data-test="admin-tab-products" routerLink="products" routerLinkActive="active">
				{{'ADMIN.TAB_PRODUCTS' | translate}}
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-test="admin-tab-orders" routerLink="orders" routerLinkActive="active">
				{{'ADMIN.TAB_ORDERS' | translate}}
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-test="admin-tab-users" routerLink="users" routerLinkActive="active">
				{{'ADMIN.TAB_USERS' | translate}}
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-test="admin-tab-taxonomy" routerLink="taxonomy" routerLinkActive="active">
				{{'ADMIN.TAB_TAXONOMY' | translate}}
			</a>
		</li>
	</ul>
	<router-outlet/>
</div>
