<div class="admin-wrapper table-responsive">
	<div class="wrapper-filter">
		<div class="product-filter form-row">
			<div class="form-group col-2">
				<input (keyup.enter)="onSearch()" [(ngModel)]="searchForm.name" class="form-control"
				       placeholder="{{'ADMIN.PRODUCT_NAME' | translate}}"
				       type="text">
			</div>
			<div class="form-group col-2">
				<select (change)="onChangeCategory('search'); onSearch()" [(ngModel)]="searchForm.categoryName"
				        class="form-control">
					<option *ngFor="let category of categories"
					        [value]="category.name">{{'DATA.' + category.name | translate}}</option>
				</select>
			</div>
			<div class="form-group col-2">
				<select (change)="onChangeTypeSearch(); onSearch()" [(ngModel)]="searchForm.typeName" class="form-control">
					<ng-container *ngFor="let type of types">
						<option *ngIf="type.categoryName === searchForm.categoryName"
						        [value]="type.name">{{'DATA.' + type.name | translate}}</option>
					</ng-container>
				</select>
			</div>
			<div class="form-group col-2">
				<button (click)="onSearch()" class="btn btn-dark" tooltip="{{'ADMIN.SEARCH_ADVANCED' | translate}}" placement="bottom">
					<fa-icon [icon]="faSearch"></fa-icon>
				</button>
				<button (click)="openCreateModal(createTemplate)" class="btn btn-dark btn-create" tooltip="{{'ADMIN.CREATE_PRODUCT' | translate}}" placement="bottom">
					<fa-icon [icon]="faPlusSquare"></fa-icon>
				</button>
				<button (click)="openImportExcelModal(importExcelTemplate)" class="btn btn-dark btn-create" tooltip="{{'ADMIN.IMPORT_EXCEL' | translate}}" placement="bottom">
					<fa-icon [icon]="faFileUpload"></fa-icon>
				</button>
				<button (click)="onExportExcel()" class="btn btn-dark btn-create" tooltip="{{'ADMIN.EXPORT_EXCEL' | translate}}" placement="bottom">
					<fa-icon [icon]="faFileDownload"></fa-icon>
				</button>
			</div>
			<div class="form-group col-3">
				<pagination (pageChanged)="onPageChanged($event)"
				            [(ngModel)]="pagination.currentPage"
				            [boundaryLinks]="true"
				            [itemsPerPage]="pagination.itemPerPage"
				            [maxSize]="pagination.maxSize"
				            [pageBtnClass]="'pagination-style'"
				            [totalItems]="pagination.totalItem"
				            class="float-right" firstText="&laquo;" lastText="&raquo;" nextText="&rsaquo;"
				            previousText="&lsaquo;">
				</pagination>
			</div>
			<div class="form-group col-1">
				<select (change)="paging(searchResults)" [(ngModel)]="pagination.itemPerPage"
				        class="btn btn-outline-dark float-right" tooltip="{{'ADMIN.ITEMS_PER_PAGE' | translate}}" placement="bottom">
					<option *ngFor="let val of [5, 10, 20, 50, 100, 200, 500, 1000]; let i = index" [selected]="i === 0"
					        [value]="val">{{val}}</option>
				</select>
			</div>
		</div>
	</div>
	<table class="table table-bordered table-striped table-hover table-sm table-product">
		<thead class="{{bgPrimary}} {{tcPrimary}}">
		<tr>
			<th class="col-index" scope="col">#</th>
			<th class="col-name" scope="col">{{'ADMIN.NAME' | translate}}</th>
			<th class="col-description" scope="col">{{'ADMIN.DESCRIPTION' | translate}}</th>
			<th class="col-price" scope="col">{{'ADMIN.PRICE' | translate}}</th>
			<th class="col-image" scope="col">{{'ADMIN.IMAGE' | translate}}</th>
			<th class="col-quantity" scope="col">{{'ADMIN.QUANTITY' | translate}}</th>
			<th class="col-sale-amount" scope="col">{{'ADMIN.SALE_AMOUNT' | translate}}</th>
			<th class="col-category" scope="col">{{'ADMIN.CATEGORY' | translate}}</th>
			<th class="col-type" scope="col">{{'ADMIN.TYPE' | translate}}</th>
			<th class="col-actions" scope="col">{{'ADMIN.ACTION' | translate}}</th>
		</tr>
		</thead>
		<tbody>
		<ng-container *ngIf="displayProducts.length !== 0">
			<tr *ngFor="let product of displayProducts; trackBy: trackByFn; let i = index">
				<th scope="row">{{product.id}}</th>
				<td>{{product.name}}</td>
				<td>{{product.description}}</td>
				<td>{{product.price.toLocaleString(locale)}}</td>
				<td>
					<img (click)="onOpenImage(i)" [alt]="product.name" [src]="product.imgUrl" class="product-img">
				</td>
				<td>{{product.quantity}}</td>
				<td>{{product.saleAmount}}</td>
				<td>{{'DATA.' + product.categoryName | translate}}</td>
				<td>{{'DATA.' + product.typeName | translate}}</td>
				<td>
					<button (click)="openEditModal(editTemplate, product.id)" class="btn btn-info btn-edit" tooltip="{{'ADMIN.EDIT_PRODUCT' | translate}}" placement="bottom">
						<fa-icon [icon]="faPen"></fa-icon>
					</button>
					<button (click)="openDeleteModal(deleteTemplate, product.id)" class="btn btn-warning btn-edit" tooltip="{{'ADMIN.DELETE_PRODUCT' | translate}}" placement="bottom">
						<fa-icon [icon]="faTrash"></fa-icon>
					</button>
				</td>
			</tr>
		</ng-container>
		<ng-container *ngIf="displayProducts.length === 0">
			<tr>
				<td colspan="10"><i>{{'ADMIN.NO_PRODUCT_FOUND' | translate}}</i></td>
			</tr>
		</ng-container>
		</tbody>
	</table>
</div>

<ng-template #createTemplate>
	<div class="modal-header {{bgPrimary}} {{tcPrimary}}">
		<h4 class="modal-title pull-left">{{'ADMIN.CREATE_PRODUCT' | translate}}</h4>
		<button (click)="modalRef.hide()" class="close pull-right">
			<span aria-hidden="true" class="{{tcPrimary}}">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<div class="form-group row">
			<label class="col-sm-3 col-form-label" for="inputName"><b>{{'ADMIN.NAME' | translate}}</b></label>
			<div class="col-sm-9">
				<input [(ngModel)]="createForm.name" class="form-control" id="inputName" type="text">
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-3 col-form-label" for="inputDescription"><b>{{'ADMIN.DESCRIPTION' | translate}}</b></label>
			<div class="col-sm-9">
				<textarea [(ngModel)]="createForm.description" class="form-control" id="inputDescription"
				          rows="3"></textarea>
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-3 col-form-label" for="inputPrice"><b>{{'ADMIN.PRICE' | translate}}</b></label>
			<div class="col-sm-9">
				<input [(ngModel)]="createForm.price" class="form-control" id="inputPrice" type="text">
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-3 col-form-label" for="inputImage"><b>{{'ADMIN.IMAGE' | translate}}</b></label>
			<div class="col-sm-9">
				<input [(ngModel)]="createForm.imgUrl" class="form-control" id="inputImage" type="text">
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-3 col-form-label" for="inputQuantity"><b>{{'ADMIN.QUANTITY' | translate}}</b></label>
			<div class="col-sm-9">
				<input [(ngModel)]="createForm.quantity" class="form-control" id="inputQuantity" type="number">
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-3 col-form-label" for="inputSaleAmount"><b>{{'ADMIN.SALE_AMOUNT' | translate}}</b></label>
			<div class="col-sm-9">
				<input [(ngModel)]="createForm.saleAmount" class="form-control" id="inputSaleAmount" type="number">
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-3 col-form-label" for="inputCategory"><b>{{'ADMIN.CATEGORY' | translate}}</b></label>
			<div class="col-sm-9">
				<select (change)="onChangeCategory('craete')" [(ngModel)]="createForm.categoryName" class="form-control"
				        id="inputCategory">
					<option *ngFor="let category of categories"
					        [value]="category.name">{{'DATA.' + category.name | translate}}</option>
				</select>
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-3 col-form-label" for="inputType"><b>{{'ADMIN.TYPE' | translate}}</b></label>
			<div class="col-sm-9">
				<select [(ngModel)]="createForm.typeName" class="form-control" id="inputType">
					<ng-container *ngFor="let type of types">
						<option *ngIf="type.categoryName === createForm.categoryName"
						        [value]="type.name">{{'DATA.' + type.name | translate}}</option>
					</ng-container>
				</select>
			</div>
		</div>
	</div>
	<div class="modal-footer bg-light">
		<button (click)="onCreate()" class="btn btn-success pull-right">{{'ADMIN.SAVE' | translate}}</button>
		<button (click)="onRefreshCreateForm()" class="btn btn-dark pull-right">{{'ADMIN.REFRESH' | translate}}</button>
	</div>
</ng-template>

<ng-template #editTemplate>
	<div class="modal-header {{bgPrimary}} {{tcPrimary}}">
		<h4 class="modal-title pull-left">{{'ADMIN.EDIT_PRODUCT' | translate}}</h4>
		<button (click)="modalRef.hide(); onCloseEdit()" class="close pull-right">
			<span aria-hidden="true" class="{{tcPrimary}}">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<div class="form-group row">
			<label class="col-sm-3 col-form-label" for="inputNameE"><b>{{'ADMIN.NAME' | translate}}</b></label>
			<div class="col-sm-9">
				<input [(ngModel)]="editForm.name" class="form-control" id="inputNameE" type="text">
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-3 col-form-label" for="inputDescriptionE"><b>{{'ADMIN.DESCRIPTION' | translate}}</b></label>
			<div class="col-sm-9">
				<textarea [(ngModel)]="editForm.description" class="form-control" id="inputDescriptionE"
				          rows="3"></textarea>
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-3 col-form-label" for="inputPriceE"><b>{{'ADMIN.PRICE' | translate}}</b></label>
			<div class="col-sm-9">
				<input [(ngModel)]="editForm.price" class="form-control" id="inputPriceE" type="text">
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-3 col-form-label" for="inputImageE"><b>{{'ADMIN.IMAGE' | translate}}</b></label>
			<div class="col-sm-9">
				<input [(ngModel)]="editForm.imgUrl" class="form-control" id="inputImageE" type="text">
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-3 col-form-label" for="inputQuantityE"><b>{{'ADMIN.QUANTITY' | translate}}</b></label>
			<div class="col-sm-9">
				<input [(ngModel)]="editForm.quantity" class="form-control" id="inputQuantityE" type="number">
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-3 col-form-label" for="inputSaleAmountE"><b>{{'ADMIN.SALE_AMOUNT' | translate}}</b></label>
			<div class="col-sm-9">
				<input [(ngModel)]="editForm.saleAmount" class="form-control" id="inputSaleAmountE" type="number">
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-3 col-form-label" for="inputCategoryE"><b>{{'ADMIN.CATEGORY' | translate}}</b></label>
			<div class="col-sm-9">
				<select (change)="onChangeCategory('edit')" [(ngModel)]="editForm.categoryName" class="form-control"
				        id="inputCategoryE">
					<option *ngFor="let category of categories"
					        [value]="category.name">{{'DATA.' + category.name | translate}}</option>
				</select>
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-3 col-form-label" for="inputTypeE"><b>{{'ADMIN.TYPE' | translate}}</b></label>
			<div class="col-sm-9">
				<select [(ngModel)]="editForm.typeName" class="form-control" id="inputTypeE">
					<ng-container *ngFor="let type of types">
						<option *ngIf="type.categoryName === editForm.categoryName"
						        [value]="type.name">{{'DATA.' + type.name | translate}}</option>
					</ng-container>
				</select>
			</div>
		</div>
	</div>
	<div class="modal-footer bg-light">
		<button (click)="onEdit()" class="btn btn-success pull-right">{{'ADMIN.SAVE' | translate}}</button>
		<button (click)="onRefreshEditForm()" class="btn btn-dark pull-right">{{'ADMIN.REFRESH' | translate}}</button>
	</div>
</ng-template>

<ng-template #deleteTemplate>
	<div class="modal-header {{bgPrimary}} {{tcPrimary}}">
		<h4 class="modal-title pull-left">{{'ADMIN.DELETE_PRODUCT' | translate}}?</h4>
		<button (click)="modalRef.hide()" class="close pull-right">
			<span aria-hidden="true" class="{{tcPrimary}}">&times;</span>
		</button>
	</div>
	<div class="modal-footer bg-light">
		<button (click)="onDelete()" class="btn btn-danger pull-right" tooltip="{{'ADMIN.DELETE_PRODUCT' | translate}}" placement="bottom">
			<fa-icon [icon]="faTrash"></fa-icon>
		</button>
	</div>
</ng-template>

<ng-template #importExcelTemplate>
	<div class="modal-header {{bgPrimary}} {{tcPrimary}}">
		<h4 class="modal-title pull-left">{{'ADMIN.IMPORT_EXCEL' | translate}}</h4>
		<button (click)="modalRef.hide()" class="close pull-right">
			<span aria-hidden="true" class="{{tcPrimary}}">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text" id="inputGroupFileAddon">{{'ADMIN.BROWSE_EXCEL' | translate}}</span>
			</div>
			<div class="custom-file">
				<input (change)="onFileChange($event)" aria-describedby="inputGroupFileAddon" class="custom-file-input"
				       id="inputGroupFile"
				       type="file">
				<label class="custom-file-label" for="inputGroupFile">{{'ADMIN.IMPORT_EXCEL' | translate}}</label>
			</div>
		</div>
		<span><i>{{'ADMIN.IMPORT_EXCEL_NOTE' | translate}}</i></span>
	</div>
	<div class="modal-footer bg-light">
		<button (click)="onImportExcel(excelData)"
		        class="btn btn-success pull-right">{{'ADMIN.IMPORT_BUTTON' | translate}}</button>
	</div>
</ng-template>
