<div class="wrapper-store">
	<div class="wrapper-product">
		<div class="wrapper-filter">
			<div class="row">
				<div class="mb-3 col-xl-2 col-lg-2 col-md-2 col-sm-3 col-3">
					<input (keyup.enter)="onSearch()" [(ngModel)]="searchForm.name" class="form-control"
					       placeholder="{{'ADMIN.PRODUCT_NAME' | translate}}"
					       type="text">
				</div>
				<div class="mb-3 col-xl-2 col-lg-2 col-md-2 col-sm-3 col-3">
					<select (change)="onChangeCategory('search'); onSearch()" [(ngModel)]="searchForm.categoryName"
					        class="form-control">
						@for (category of categories(); track category.name) {
							<option [value]="category.name">{{'DATA.' + category.name | translate}}</option>
						}
					</select>
				</div>
				<div class="mb-3 col-xl-2 col-lg-2 col-md-2 col-sm-3 col-3">
					<select (change)="onChangeTypeSearch(); onSearch()" [(ngModel)]="searchForm.typeName" class="form-control">
						@for (type of types(); track type.name) {
							@if (type.categoryName === searchForm.categoryName) {
								<option [value]="type.name">{{'DATA.' + type.name | translate}}</option>
							}
						}
					</select>
				</div>
				<div class="mb-3 col-xl-1 col-lg-1 col-md-1 col-sm-3 col-3">
					<button (click)="onSearch()" class="btn btn-dark" placement="bottom"
					        tooltip="{{'ADMIN.SEARCH_ADVANCED' | translate}}">
						<fa-icon [icon]="faMagnifyingGlass"></fa-icon>
					</button>
				</div>
				<div class="mb-3 col-xl-3 col-lg-3 col-md-3 col-sm-8 col-8">
					<pagination (pageChanged)="onPageChanged($event)"
					            [(ngModel)]="currentPage"
					            [boundaryLinks]="true"
					            [itemsPerPage]="itemPerPage()"
					            [maxSize]="maxSize"
					            [pageBtnClass]="'btn-outline-dark'"
					            [totalItems]="totalItem()"
					            class="" firstText="&laquo;" lastText="&raquo;" nextText="&rsaquo;"
					            previousText="&lsaquo;">
					</pagination>
				</div>
				<div class="mb-3 col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1">
					<button (click)="onSortPrice()" class="btn btn-dark responsive-float"
					        placement="bottom" tooltip="{{'SHOP.SORT_PRICE' | translate}}">
						@if (sortFlip) {
							<fa-icon [icon]="faArrowUpShortWide"></fa-icon>
						}
						@if (!sortFlip) {
							<fa-icon [icon]="faArrowDownShortWide"></fa-icon>
						}
					</button>
				</div>
				<div class="mb-3 col-xl-1 col-lg-1 col-md-1 col-sm-3 col-3">
					<select (change)="paging(searchResults())" [(ngModel)]="itemPerPage"
					        class="btn btn-outline-dark responsive-float" placement="bottom"
					        tooltip="{{'ADMIN.ITEMS_PER_PAGE' | translate}}">
						@for (val of [6, 12, 24, 48, 96]; track $index; let i = $index) {
							<option [selected]="i === 0" [value]="val">{{val}}</option>
						}
					</select>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			@if (displayProducts().length !== 0) {
				<div class="row">
					@for (product of displayProducts(); track $index; let i = $index) {
						<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12 card-group mb-2 px-1">
							<div class="card">
								<div class="card-header {{bgPrimary()}} {{tcPrimary()}}"><b>{{product.name}}</b></div>
								<div class="card-body">
									<img (click)="onOpenImage(i, imageTemplate)" [alt]="product.name" [src]="product.imgUrl"
									     class="card-img-top">
								</div>
								<div class="card-footer {{bgPrimary()}} {{tcPrimary()}}">
									<span class="float-start">{{product.price.toLocaleString(translate.currentLang() ?? 'en')}} đ</span>
									<span class="float-end">
									<button (click)="onAddToCart(i)" class="btn btn-dark" placement="bottom"
									        tooltip="{{'SHOP.ADD_TO_CART' | translate}}">
										<fa-icon [icon]="faCartPlus"></fa-icon>
									</button>
								</span>
								</div>
							</div>
						</div>
					}
				</div>
			}
			@if (displayProducts().length === 0) {
				<div class="row">
					<div class="mx-auto"><i>{{'ADMIN.NO_PRODUCT_FOUND' | translate}}</i></div>
				</div>
			}
		</div>
	</div>
</div>

<ng-template #imageTemplate>
	<div class="modal-body text-center">
		<img [alt]="lightboxCaption()" [src]="lightboxSrc()" class="img-fluid">
		<div [innerHTML]="lightboxCaption()" class="text-center"></div>
	</div>
</ng-template>
