<div class="wrapper-store">
	<div class="wrapper-product">
		<div class="wrapper-filter">
			<div class="form-row">
				<div class="form-group col-xl-2 col-lg-2 col-md-2 col-sm-3 col-3">
					<input (keyup.enter)="onSearch()" [(ngModel)]="searchForm.name" class="form-control"
					       placeholder="{{'ADMIN.PRODUCT_NAME' | translate}}"
					       type="text">
				</div>
				<div class="form-group col-xl-2 col-lg-2 col-md-2 col-sm-3 col-3">
					<select (change)="onChangeCategory('search'); onSearch()" [(ngModel)]="searchForm.categoryName"
					        class="form-control">
						<option *ngFor="let category of categories"
						        [value]="category.name">{{'DATA.' + category.name | translate}}</option>
					</select>
				</div>
				<div class="form-group col-xl-2 col-lg-2 col-md-2 col-sm-3 col-3">
					<select (change)="onChangeTypeSearch(); onSearch()" [(ngModel)]="searchForm.typeName" class="form-control">
						<ng-container *ngFor="let type of types">
							<option *ngIf="type.categoryName === searchForm.categoryName"
							        [value]="type.name">{{'DATA.' + type.name | translate}}</option>
						</ng-container>
					</select>
				</div>
				<div class="form-group col-xl-1 col-lg-1 col-md-1 col-sm-3 col-3">
					<button (click)="onSearch()" class="btn btn-dark" tooltip="{{'ADMIN.SEARCH_ADVANCED' | translate}}" placement="bottom">
						<fa-icon [icon]="faSearch"></fa-icon>
					</button>
				</div>
				<div class="form-group col-xl-3 col-lg-3 col-md-3 col-sm-8 col-8">
					<pagination (pageChanged)="onPageChanged($event)"
					            [(ngModel)]="pagination.currentPage"
					            [boundaryLinks]="true"
					            [itemsPerPage]="pagination.itemPerPage"
					            [maxSize]="pagination.maxSize"
					            [pageBtnClass]="'btn-outline-dark'"
					            [totalItems]="pagination.totalItem"
					            class="" firstText="&laquo;" lastText="&raquo;" nextText="&rsaquo;"
					            previousText="&lsaquo;">
					</pagination>
				</div>
				<div class="form-group col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1">
					<button (click)="onSortPrice()" class="btn btn-dark responsive-float" tooltip="{{'SHOP.SORT_PRICE' | translate}}" placement="bottom">
						<fa-icon *ngIf="sortFlip" [icon]="faSortAmountUp"></fa-icon>
						<fa-icon *ngIf="!sortFlip" [icon]="faSortAmountDownAlt"></fa-icon>
					</button>
				</div>
				<div class="form-group col-xl-1 col-lg-1 col-md-1 col-sm-3 col-3">
					<select (change)="paging(searchResults)" [(ngModel)]="pagination.itemPerPage"
					        class="btn btn-outline-dark responsive-float" tooltip="{{'ADMIN.ITEMS_PER_PAGE' | translate}}" placement="bottom">
						<option *ngFor="let val of [6, 12, 24, 48, 96]; let i = index" [selected]="i === 0"
						        [value]="val">{{val}}</option>
					</select>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div *ngIf="displayProducts.length !== 0" class="row">
				<div *ngFor="let product of displayProducts; trackBy: trackByFn; let i = index"
				     class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12 card-group mb-2 px-1">
					<div class="card">
						<div class="card-header {{bgPrimary}} {{tcPrimary}}"><b>{{product.name}}</b></div>
						<div class="card-body">
							<img (click)="onOpenImage(i)" [alt]="product.name" [src]="product.imgUrl" class="card-img-top">
						</div>
						<div class="card-footer {{bgPrimary}} {{tcPrimary}}">
							<span class="float-left">{{product.price.toLocaleString(translate.currentLang)}} đ</span>
							<span class="float-right">
								<button (click)="onAddToCart(i)" class="btn btn-dark" tooltip="{{'SHOP.ADD_TO_CART' | translate}}" placement="bottom">
									<fa-icon [icon]="faCartPlus"></fa-icon>
								</button>
							</span>
						</div>
					</div>
				</div>
			</div>
			<div *ngIf="displayProducts.length === 0" class="row">
				<div class="mx-auto"><i>{{'ADMIN.NO_PRODUCT_FOUND' | translate}}</i></div>
			</div>
		</div>
	</div>
</div>