<div class="wrapper-store">
	<div class="wrapper-product">
		<div class="wrapper-filter">
			<div class="row">
				<div class="mb-3 col-xl-2 col-lg-2 col-md-3 col-sm-6 col-6">
					<input (keyup.enter)="onSearch()" [(ngModel)]="searchText" class="form-control"
					       data-test="store-search" placeholder="{{'SHOP.SEARCH_PLACEHOLDER' | translate}}"
					       type="text">
				</div>
				<div class="mb-3 col-xl-2 col-lg-2 col-md-3 col-sm-6 col-6">
					<select #categorySelect (change)="onCategoryChange(categorySelect.value)" class="form-control"
					        data-test="store-category">
						<option value="">{{'SHOP.ALL_CATEGORIES' | translate}}</option>
						@for (categoryOption of categories(); track categoryOption.name) {
							<option [selected]="categoryOption.name === category()"
							        [value]="categoryOption.name">{{'DATA.' + categoryOption.name | translate}}</option>
						}
					</select>
				</div>
				<div class="mb-3 col-xl-2 col-lg-2 col-md-3 col-sm-6 col-6">
					<select #typeSelect (change)="onTypeChange(typeSelect.value)" class="form-control"
					        data-test="store-type">
						<option value="">{{'SHOP.ALL_TYPES' | translate}}</option>
						@for (typeOption of typesForCategory(); track typeOption.name) {
							<option [selected]="typeOption.name === type()"
							        [value]="typeOption.name">{{'DATA.' + typeOption.name | translate}}</option>
						}
					</select>
				</div>
				<div class="mb-3 col-xl-1 col-lg-1 col-md-3 col-sm-6 col-6">
					<button (click)="onSearch()" class="btn btn-dark" data-test="store-search-button"
					        placement="bottom" tooltip="{{'ADMIN.SEARCH_ADVANCED' | translate}}" type="button">
						<fa-icon [icon]="faMagnifyingGlass"></fa-icon>
					</button>
				</div>
				<div class="mb-3 col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12 text-center">
					<pagination (pageChanged)="onPageChanged($event)"
					            [boundaryLinks]="true"
					            [itemsPerPage]="size()"
					            [maxSize]="maxSize"
					            [pageBtnClass]="'btn-outline-dark'"
					            [totalItems]="totalElements()"
					            class="store-pagination" firstText="&laquo;" lastText="&raquo;" nextText="&rsaquo;"
					            previousText="&lsaquo;">
					</pagination>
					<div class="range-label" data-test="store-range">{{rangeLabel()}}</div>
				</div>
				<div class="mb-3 col-xl-1 col-lg-1 col-md-6 col-sm-6 col-6">
					<select #sortSelect (change)="onSortChange(sortSelect.value)" class="btn btn-outline-dark w-100"
					        data-test="store-sort" placement="bottom" tooltip="{{'SHOP.SORT' | translate}}">
						@for (option of sortOptions; track option) {
							<option [selected]="option === sort()" [value]="option">
								{{'SHOP.SORT_' + option.toUpperCase().replace('-', '_') | translate}}
							</option>
						}
					</select>
				</div>
				<div class="mb-3 col-xl-1 col-lg-1 col-md-6 col-sm-6 col-6">
					<select #sizeSelect (change)="onSizeChange(sizeSelect.value)" class="btn btn-outline-dark w-100"
					        data-test="store-size" placement="bottom" tooltip="{{'ADMIN.ITEMS_PER_PAGE' | translate}}">
						@for (option of sizeOptions; track option) {
							<option [selected]="option === size()" [value]="option">{{option}}</option>
						}
					</select>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			@if (content().length !== 0) {
				<div class="row">
					@for (product of content(); track product.id) {
						<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12 card-group mb-2 px-1">
							<div class="card">
								<div class="card-header bg-light text-dark"><b>{{product.name}}</b></div>
								<div class="card-body">
									<img (click)="openModal(product, detailsTemplate)" [alt]="product.name"
									     [src]="product.imgUrl" class="card-img-top" data-test="store-card-image">
								</div>
								<div class="card-footer bg-light text-dark">
									<span class="float-start price">{{product.price | currency:'VND':'symbol':'1.0-0':lang()}}</span>
									<span class="float-end">
										<button (click)="toggleWishlist(product)"
										        [class.text-danger]="wishlistIds().has(product.id)"
										        [class.text-secondary]="!wishlistIds().has(product.id)"
										        class="btn btn-link heart" data-test="store-heart"
										        placement="bottom" tooltip="{{'SHOP.WISHLIST' | translate}}" type="button">
											<fa-icon [icon]="faHeart"></fa-icon>
										</button>
										<button (click)="addToCart(product)" [disabled]="product.stock < 1"
										        class="btn btn-dark" data-test="store-add"
										        placement="bottom" tooltip="{{'SHOP.ADD_TO_CART' | translate}}" type="button">
											<fa-icon [icon]="faCartPlus"></fa-icon>
										</button>
									</span>
								</div>
							</div>
						</div>
					}
				</div>
			}
			@if (content().length === 0) {
				<div class="row">
					<div class="mx-auto"><i>{{'ADMIN.NO_PRODUCT_FOUND' | translate}}</i></div>
				</div>
			}
		</div>
	</div>
</div>

<ng-template #detailsTemplate>
	@if (selected(); as product) {
		<app-product-modal (addToCart)="onModalAddToCart($event)" (toggleWishlist)="toggleWishlist($event)"
		                   [product]="product" [wished]="wishlistIds().has(product.id)"/>
	}
</ng-template>
