<div class="info-wrapper container-fluid">
	<ul class="nav nav-tabs mb-3">
		<li class="nav-item">
			<a class="nav-link" data-test="info-tab-orders" routerLink="orders" routerLinkActive="active">
				{{'INFO.ORDERS' | translate}}
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-test="info-tab-profile" routerLink="profile" routerLinkActive="active">
				{{'INFO.PROFILE' | translate}}
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-test="info-tab-wishlist" routerLink="wishlist" routerLinkActive="active">
				{{'INFO.WISHLIST' | translate}}
			</a>
		</li>
	</ul>
	<router-outlet/>
</div>
